<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".BeSafeApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/bg_custom_icon"
        android:roundIcon="@drawable/bg_custom_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BeSafe"
        tools:targetApi="35">

        <receiver android:name=".utils.StudentActivityReceiver" android:exported="false"/>

        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.RegisterActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".AlertDetailActivity" android:exported="false" />
        <activity android:name=".activities.ReportDetailActivity" android:exported="false" />
        <activity android:name=".activities.PinCheckActivity" android:exported="false" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activities.CompleteProfileActivity" android:exported="false" />
        <activity android:name=".activities.EditProfileActivity" android:exported="false" />

        <service
            android:name=".services.SafetyTimerService"
            android:foregroundServiceType="location"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDYyaNv8RnprrLBssfWYq1teL2EJFzaVaQ" />

    </application>

</manifest>